@()(implicit message: MessagesApi ,l: Lang)

@main {
			
			<nav id="nav">
				<ul class="container">
					<li><a href="#top">@message("top.top")</a></li>
					<li><a href="#work">@message("top.work")</a></li>
					<li><a href="#portfolio">@message("top.portfolio")</a></li>
					<li><a href="#contact">@message("top.contact")</a></li>
					<li><a href="./?lang=pt"><img src="@routes.Assets.versioned("images/BR.png")" /></a></li>
					<li><a href="./?lang=en"><img src="@routes.Assets.versioned("images/US.gif")" /></a></li>
				</ul>
			</nav>

			<div class="wrapper style1 first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u 12u(mobile)">
							<span class="image fit"><img src="@routes.Assets.versioned("images/profile.jpg")" alt="" /></span>
						</div>
						<div class="8u 12u(mobile)">
							<header>
								<h1>@message("intro")</h1>
							</header>
							<p>@Html(message("description"))</p>
							<p>@Html(message("description.education"))</p>
							<a href="http://stackoverflow.com/users/4803173/alvaro-joao">
								<img src="http://stackoverflow.com/users/flair/4803173.png" width="208" height="58" alt="profile for Alvaro Joao at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Alvaro Joao at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
							</a>
							<a href="#work" class="button big scrolly">@message("learnmore")</a>
							
						</div>
					</div>
				</article>
			</div>

			<div class="wrapper style2">
				<article id="work">
					<header>
						<h2>@message("work.title")</h2>
						<p>@message("work.description")</p>
					</header>
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="fa fa-5x @message("work.special.angular.image")"></span>
									<h3>@message("work.special.angular")</h3>
									<p>@message("work.special.angular.description")</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="fa fa-5x @message("work.special.mobile.image")"></span>
									<h3>@message("work.special.mobile")</h3>
									<p>@message("work.special.mobile.description")</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="fa fa-5x @message("work.special.webservice.image")"></span>
									<h3>@message("work.special.webservice")</h3>
									<p>@message("work.special.webservice.description")</p>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="fa fa-5x @message("work.special.playframework.image")"></span>
									<h3>@message("work.special.playframework")</h3>
									<p>@message("work.special.playframework.description")</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="fa fa-5x @message("work.special.node.image")"></span>
									<h3>@message("work.special.node")</h3>
									<p>@message("work.special.node.description")</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="fa fa-5x @message("work.special.sass.image")"></span>
									<h3>@message("work.special.sass")</h3>
									<p>@message("work.special.sass.description")</p>
								</section>
							</div>
						</div>
					</div>
					<footer>
						<p>@message("work.moreabout")</p>
						<a href="#portfolio" class="button big scrolly">@message("work.moreabout.recentwork")</a>
					</footer>
				</article>
			</div>

			<div class="wrapper style3">
				<article id="portfolio">
					<header>
						<h2>@message("recent.title")</h2>
						<p>@message("recent.description") =><a href="@message("link.github")" target="_blank" class="icon fa-github"><span class="label">Github</span></a></p>

					</header>
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="@message("recent.musicamise.url")" class="image featured"><img src="@routes.Assets.versioned(message("recent.musicamise.image"))" alt="" /></a>
									<h3><a href="@message("recent.musicamise.url")">@message("recent.musicamise")</a></h3>
									<p>@message("recent.musicamise.about")</p>
								</article>
							</div>
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="@message("recent.firstdown.url")" class="image featured"><img src="@routes.Assets.versioned(message("recent.firstdown.image"))" alt="" /></a>
									<h3><a href="@message("recent.firstdown.url")">@message("recent.firstdown")</a></h3>
									<p>@message("recent.firstdown.about")</p>
								</article>
							</div>
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="@message("recent.accenture.url")" class="image featured"><img src="@routes.Assets.versioned(message("recent.accenture.image"))" alt="" /></a>
									<h3><a href="@message("recent.accenture.url")">@message("recent.accenture")</a></h3>
									<p>@message("recent.accenture.about")</p>
								</article>
							</div>
						</div>
						<div class="row">
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="@message("recent.sodet.url")" class="image featured"><img src="@routes.Assets.versioned(message("recent.sodet.image"))" alt="" /></a>
									<h3><a href="@message("recent.sodet.url")">@message("recent.sodet")</a></h3>
									<p>@message("recent.sodet.about")</p>
								</article>
							</div>
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="@message("recent.pessoalproject1.url")" class="image featured"><img src="@routes.Assets.versioned(message("recent.pessoalproject1.image"))" alt="" /></a>
									<h3><a href="@message("recent.pessoalproject1.url")">@message("recent.pessoalproject1")</a></h3>
									<p>@message("recent.pessoalproject1.about")</p>
								</article>
							</div>
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="@message("recent.pessoalproject2.url")" class="image featured"><img src="@routes.Assets.versioned(message("recent.pessoalproject2.image"))" alt="" /></a>
									<h3><a href="@message("recent.pessoalproject2.url")">@message("recent.pessoalproject2")</a></h3>
									<p>@message("recent.pessoalproject2.about")</p>
								</article>
							</div>
						</div>
					</div>
					<footer>
						<p>@message("recent.needmoreinfo")</p>
						<a href="#contact" class="button big scrolly">@message("recent.getintouch")</a>
					</footer>
				</article>
			</div>

			<div class="wrapper style4">
				<article id="contact" class="container 75%">
					<header>
						<h2>@message("getintouch.title")</h2>
						<p>@message("getintouch.description")</p>
					</header>
					<header id="header">
						<nav>
							<ul>
								<!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
								<li><a href="@message("link.linkedin")" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="@message("link.facebook")" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
								<li><a href="@message("link.github")" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
								<li><a href="@message("link.email")" target="_blank" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>
					<!-- <div>
						<div class="row">
							<div class="12u">
								<form method="post" action="#">
									<div>
										<div class="row">
											<div class="6u 12u(mobile)">
												<input type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="6u 12u(mobile)">
												<input type="text" name="email" id="email" placeholder="Email" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<input type="text" name="subject" id="subject" placeholder="Subject" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<textarea name="message" id="message" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="row 200%">
											<div class="12u">
												<ul class="actions">
													<li><input type="submit" value="Send Message" /></li>
													<li><input type="reset" value="Clear Form" class="alt" /></li>
												</ul>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<hr />
								<h3>Find me on ...</h3>
								<ul class="social">
									<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
									<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
									<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
									
									<li><a href="#" class="icon fa-rss"><span>RSS</span></a></li>
									<li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
									<li><a href="#" class="icon fa-foursquare"><span>Foursquare</span></a></li>
									<li><a href="#" class="icon fa-skype"><span>Skype</span></a></li>
									<li><a href="#" class="icon fa-soundcloud"><span>Soundcloud</span></a></li>
									<li><a href="#" class="icon fa-youtube"><span>YouTube</span></a></li>
									<li><a href="#" class="icon fa-blogger"><span>Blogger</span></a></li>
									<li><a href="#" class="icon fa-flickr"><span>Flickr</span></a></li>
									<li><a href="#" class="icon fa-vimeo"><span>Vimeo</span></a></li>
									
								</ul>
								<hr />
							</div>
						</div>
					</div> -->
					<footer>
						<ul id="copyright">
							<li>&copy; @message("footer.name") @message("footer.allrightsreserved") </li><li> @message("footer.design")  <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>
				</article>
			</div>

			<script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
			<script src="@routes.Assets.versioned("javascripts/jquery.scrolly.min.js")"></script>
			<script src="@routes.Assets.versioned("javascripts/skel.min.js")"></script>
			<script src="@routes.Assets.versioned("javascripts/skel-viewport.min.js")"></script>
			<script src="@routes.Assets.versioned("javascripts/util.js")"></script>
			<!--[if lte IE 8]><script src="@routes.Assets.versioned("javascripts/ie/respond.min.js")"></script><![endif]-->
			<script src="@routes.Assets.versioned("javascripts/main.js")"></script>

}
